<h1><font style="color:#A4A4A4;">T o D o </font>L i s t e n i n g</h1>

<img src="http://compassionmovement.org/wp-content/uploads/2016/02/Feb-web-yellow-line.png"/>

<!-- http://www.freeiconspng.com/uploads/help-icon-12.png -->
    
    <!-- popup -->
    <input type="checkbox" id="popup__1" class="popup__check" />
    <div class="popup__base">
      <label for="popup__1" class="popup__bg"></label>
      <div class="popup__inner">
        <div class="popup__calign">
          <label for="popup__1" class="popup__close">+</label>
        </div>
        <div class="popup__textbox">
          <h1>Informations</h1>
          <p style="color:black">
            Plateforme communautaire de découverte musicale. (triée par date d'ajout). Ajoutez, Filtrez, Recherchez, Découvrez, Écoutez : en quelques clicks !
          <p>
        </div>
      </div>
    </div>

    <a><label class="trigger" for="popup__1" style="font-family:verdana;">?</label></a>
    <!-- fin de la popup -->

 <div class="recherche">
      <%= form_tag(musics_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Votre Artiste/genre favoris" %>
      <%= submit_tag "🔍", :name => nil %>
      <% end %>
    </div>
  
<table>
  <thead>
    <tr>
      <th colspan="1"></th>
      <th>Titre</th>
      <th>Artiste</th>
      <th>Genre</th>
      <th colspan="2"></th>
    </tr>
  </thead>
    
  <tbody>

    <div class="noone"
      <% if @musics.blank? %>
        <h4>Il n'y a pas d'artistes ou de genres correspondants à : <%= params[:search] %></h4>
      <% end %>
    </div>

    <p id="notice"><%= notice %></p>

    <% @musics.each do |music| %>
      <tr>
        <td title="Écouter"><%= link_to '►', music %></td>
        <td><%= music.titre %></td>
        <td><%= music.artiste %></td>
        <td><%= music.genre %></td>
        <td title="Éditer"><%= link_to '✎', edit_music_path(music) %></td>
        <div id="supp"><td title="Supprimer"><%= link_to '✘', music, method: :delete, data: { confirm: 'Es-tu sûr ?' } %></td></div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<span class="blink"><div class="plus"><%= link_to '✚', new_music_path %></div></span>